
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');
@import "./partials/_mixins";
@import "./partials/_maps";
@import "./partials/_extends";
@import "./partials/_general_styles";
@import "./partials/_index";
@import "./partials/_footer";
@import "./partials/_header_generales";
@import "./partials/_contacto";
@import "./partials/_aboutus";
@import "./partials/_portafolio";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}