
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');
@import "./partials/_mixins";
@import "./partials/_maps";
@import "./partials/_colors";
@import "./partials/_general_styles";
@import "./partials/_index";
@import "./partials/_extends";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}