/*Ejemplo de comentario */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.bgGeneral{
    background-image: linear-gradient(to right, black, grey);
}


/*HTML index.html */

.body_index{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0.479)), url("../img/fondo_index.jpg"); /*Imagen de fondo de index.html*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
}

.headerIndex{
    height: 530px;
}

.cabeceraTitulo{
    margin-top: 100px;
    font-size: 120px;
    font-weight: 500;
}

.cabecera_nav{
    margin-top: 50px;
}

.noStyle{
    color: white;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    margin-left: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.noStyle:hover{
    color: white;
    border-top: solid white;
    border-bottom: solid white;
    /*border-radius: 20px;*/
    padding: 5px;
    font-weight: bold;
}

.bgHeader{
    background-image: linear-gradient(to left, black, grey);
}

.titulos{
    font-family: 'Montserrat Alternates', sans-serif;
}




/*HTML aboutus.html */

.aNav{
    font-size: 25px;
    margin-left: 40px;
}

.divContent{
    margin-top: 30px;
    margin-bottom: 30px;
}


.pAboutUs{
    font-size: 1.4rem;
    text-align: justify;
    margin: 20px;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

.imgAboutUs{
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.imgAboutUs:hover{
    filter: grayscale(80%);
}

.footer{
    margin-top: 40px;
    margin-bottom: 30px;
}






